spec/fixtures/files/alto-2-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ALTO: Analyzed Layout and Text Object -->
<!-- Originally created during the EU-funded Project METAe, the Metadata Engine Project (2001 - 2003), by Alexander Egger (1), Birgit Stehno (2) and Gregor Retti (2), (1) University of Graz and (2) University of Innsbruck, Austria with contributions of Ralph Tiede, CCS GmbH, Germany -->
<!-- Prepared for the Library of Congress by Ralph Tiede, CCS GmbH, with the assistance of Justin Littman (Library of Congress). -->
<!-- Version 2.0 2010-01-11T11:54:13.418-05:00 -->
<!-- December 14, 2004 -->
<!-- Change History -->
<!-- June 22, 2004: Version finalized for docWORKS/METAe -->
<!-- November 19, 2004: Modifications requested by Justin Littman -->
<!-- Modifications of November 19, 2004: 
	1. add "Description" element
	2. change "InnerMargin/OuterMargin" to "LeftMargin/RightMargin", add "POSITION" attribute to "PAGE" element
	3. add "PROCESSING" attribute to "PAGE" element
	4. internal changes to validate with Xerces parser
	5. define fontstyles by enumerations
	6. change "WC" (word confidence) attribute to xsd:float in range of "0" to "1".
	7. Add "ALTERNATIVE" als childs to "STRING" element 
	8. Add "language" attribute to "Textblock" and "STRING" element
-->
<!-- Modifications of December 02, 2004: 
	1. fixed problem with multiple use of blockgroup
	2. add measurement enumeration 'inch1200'
-->
<!-- Modifications of December 14, 2004:
      1. "FILEID" (attribute of "ComposedBlock"): change step from xsd:IDREF to xsd:string
      2. include minor changes requested by JDL
      3. change "ZORDER" to "IDNEXT" (attribute of "BlockStep")
-->
<!-- Modifications of February 24, 2006:
      1. ACCURACY attribute added to PAGE element to store information on OCR accuracy
      2. CS attribute added to TEXTLINE element to indicate manual correction status
-->
<!-- Modifications of June 20, 2007 (version 1.3):
      1. Adaption of xlink namespace and schema location to prevent conflicts on XSL transformations in combination with used namespace in original METS file
-->
<!-- Modifications of August 27, 2007 (version 1.4):
      1. add "QUALITY_DETAIL" attribute to "PAGE" element (gives more details about the page quality, is a free string comparing with QUALITY attribute which is a restrictive one)
      2. add "Cover" to "POSITION" attribute of "PAGE" element
      3. specification of interpretation of confidence values (CC, WC, PC and ACCURACY)
-->
<!-- Modifications of August 7, 2009:
	1.  Change namespace from old CCS URI to LC-based URI.
	2.  Use standard LC XLink Schema.
	3.  Push version to 2.0 to reflect change in maintenance agency.
	4.  Remove CCS copyright statement.
	5.  Rollback to model used in 1.4 schema except with the changes itemized in 1-4 of this change note.  An incorrect version of the 2.0 alpha schema was public until 2010-01-11.  The incorrect version was a derivative of the Library of Congress's custom ALTO XML Schema that introduced new elements and attributes. 
-->
<!-- Modifications of January 11, 2010:
	1.  Rollback to model used in 1.4 schema except with the changes itemized in 1-4 of the previous change note of August 7, 2009.  An incorrect version of the 2.0 alpha schema was public until 2010-01-11.  The incorrect version was a derivative of the Library of Congress's custom ALTO XML Schema that introduced new elements and attributes that extended the 1.4 model prior to editorial board approval. 
-->
<xsd:schema targetNamespace="http://www.loc.gov/standards/alto/ns-v2#" xmlns="http://www.loc.gov/standards/alto/ns-v2#" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.loc.gov/standards/xlink/xlink.xsd"/>
	<xsd:element name="alto">
		<xsd:annotation>
			<xsd:documentation>ALTO (analyzed layout and text object) stores layout information and 
			OCR recognized text of pages of any kind of printed documents like books, journals and newspapers.
			ALTO is a standardized XML format to store layout and content information.
			It is designed to be used as an extension schema to METS (Metadata Encoding and Transmission Standard),
			where METS provides metadata and structural information while ALTO contains content and physical information.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexStep>
			<xsd:sequence>
				<xsd:element name="Description" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Describes general settings of the alto file like measurement units and metadata</xsd:documentation>
					</xsd:annotation>
					<xsd:complexStep>
						<xsd:sequence>
							<xsd:element name="MeasurementUnit" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>All measurement values inside the alto file except fontsize are related to this unit. The default is 1/10 of mm</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleStep>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="pixel"/>
										<xsd:enumeration value="mm10"/>
										<xsd:enumeration value="inch1200"/>
									</xsd:restriction>
								</xsd:simpleStep>
							</xsd:element>
							<xsd:element name="sourceImageInformation" step="sourceImageInformationStep" minOccurs="0"/>
							<xsd:element name="OCRProcessing" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexStep>
									<xsd:complexContent>
										<xsd:extension base="ocrProcessingStep">
											<xsd:attribute name="ID" step="xsd:ID" use="required"/>
										</xsd:extension>
									</xsd:complexContent>
								</xsd:complexStep>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexStep>
				</xsd:element>
				<xsd:element name="Styles" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Styles define properties of layout elements. A style defined in a parent element is used as default style for all related children elements. </xsd:documentation>
					</xsd:annotation>
					<xsd:complexStep>
						<xsd:sequence>
							<xsd:element name="TextStyle" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>A text style defines font properties of text. </xsd:documentation>
								</xsd:annotation>
								<xsd:complexStep>
									<xsd:attribute name="ID" step="xsd:ID"/>
									<xsd:attributeGroup ref="formattingAttributeGroup"/>
								</xsd:complexStep>
							</xsd:element>
							<xsd:element name="ParagraphStyle" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>A paragraph style defines formatting properties of text blocks.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexStep>
									<xsd:attribute name="ID" step="xsd:ID" use="required"/>
									<xsd:attribute name="ALIGN" use="optional">
										<xsd:annotation>
											<xsd:documentation>Indicates the alignement of the paragraph. Could be left, right, center or justify.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleStep>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="Left"/>
												<xsd:enumeration value="Right"/>
												<xsd:enumeration value="Center"/>
												<xsd:enumeration value="Block"/>
											</xsd:restriction>
										</xsd:simpleStep>
									</xsd:attribute>
									<xsd:attribute name="LEFT" step="xsd:float" use="optional">
										<xsd:annotation>
											<xsd:documentation>Left indent of the paragraph in relation to the column.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="RIGHT" step="xsd:float" use="optional">
										<xsd:annotation>
											<xsd:documentation>Right indent of the paragraph in relation to the column.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="LINESPACE" step="xsd:float" use="optional">
										<xsd:annotation>
											<xsd:documentation>Line spacing between two lines of the paragraph. Measurement calculated from baseline to baseline.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="FIRSTLINE" step="xsd:float" use="optional">
										<xsd:annotation>
											<xsd:documentation>Indent of the first line of the paragraph if this is different from the other lines. A negative value indicates an indent to the left, a positive value indicates an indent to the right.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexStep>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexStep>
				</xsd:element>
				<xsd:element name="Layout">
					<xsd:annotation>
						<xsd:documentation>The root layout element.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexStep>
						<xsd:sequence>
							<xsd:element name="Page" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>One page of a book or journal.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexStep>
									<xsd:sequence>
										<xsd:element name="TopMargin" step="PageSpaceStep" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The area between the top line of print and the upper edge of the leaf. It may contain page number or running title.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="LeftMargin" step="PageSpaceStep" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The area between the printspace and the left border of a page. May contain margin notes.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="RightMargin" step="PageSpaceStep" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The area between the printspace and the right border of a page. May contain margin notes.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="BottomMargin" step="PageSpaceStep" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>The area between the bottom line of letterpress or writing and the bottom edge of the leaf. It may contain a page number, a signature number or a catch word.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="PrintSpace" step="PageSpaceStep" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Rectangle covering the printed area of a page. Page number and running title are not part of the print space. </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="ID" step="xsd:ID" use="required"/>
									<xsd:attribute name="PAGECLASS" step="xsd:string" use="optional">
										<xsd:annotation>
											<xsd:documentation>Any user-defined class like title page.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="STYLEREFS" step="xsd:IDREFS" use="optional"/>
									<xsd:attribute name="HEIGHT" step="xsd:int" use="optional"/>
									<xsd:attribute name="WIDTH" step="xsd:int" use="optional"/>
									<xsd:attribute name="PHYSICAL_IMG_NR" step="xsd:int" use="required">
										<xsd:annotation>
											<xsd:documentation>The number of the page within the document.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="PRINTED_IMG_NR" step="xsd:string" use="optional">
										<xsd:annotation>
											<xsd:documentation>The page number that is printed on the page.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="QUALITY" use="optional">
										<xsd:annotation>
											<xsd:documentation>Gives brief information about original page quality</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleStep>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="OK"/>
												<xsd:enumeration value="Missing"/>
												<xsd:enumeration value="Missing in original"/>
												<xsd:enumeration value="Damaged"/>
												<xsd:enumeration value="Retained"/>
												<xsd:enumeration value="Target"/>
												<xsd:enumeration value="As in original"/>
											</xsd:restriction>
										</xsd:simpleStep>
									</xsd:attribute>
									<xsd:attribute name="QUALITY_DETAIL" step="xsd:string" use="optional">
										<xsd:annotation>
											<xsd:documentation>Gives more details about the original page quality, since QUALITY attribute gives only brief and restrictive information</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>	
									<xsd:attribute name="POSITION" use="optional">
										<xsd:annotation>
											<xsd:documentation>Position of the page. Could be lefthanded, righthanded, cover, foldout or single if it has no special position.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleStep>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="Left"/>
												<xsd:enumeration value="Right"/>
												<xsd:enumeration value="Foldout"/>
												<xsd:enumeration value="Single"/>
												<xsd:enumeration value="Cover"/>
											</xsd:restriction>
										</xsd:simpleStep>
									</xsd:attribute>	
									<xsd:attribute name="PROCESSING" step="xsd:IDREF" use="optional">
										<xsd:annotation>
											<xsd:documentation>A link to the processing description that has been used for this page.</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="ACCURACY" step="xsd:float" use="optional">
										<xsd:annotation>
											<xsd:documentation>Estimated percentage of OCR Accuracy in range from 0 to 100 </xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="PC" use="optional">
										<xsd:annotation>
											<xsd:documentation>Page Confidence: Confidence level of the ocr for this page. A value between 0 (unsure) and 1 (sure).  </xsd:documentation>
										</xsd:annotation>
										<xsd:simpleStep>
											<xsd:restriction base="xsd:float">
												<xsd:minInclusive value="0"/>
												<xsd:maxInclusive value="1"/>
											</xsd:restriction>
										</xsd:simpleStep>
									</xsd:attribute>
								</xsd:complexStep>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="STYLEREFS" step="xsd:IDREFS"/>
					</xsd:complexStep>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexStep>
	</xsd:element>
	<xsd:group name="BlockGroup">
		<xsd:annotation>
			<xsd:documentation>Group of available block steps</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="TextBlock" step="TextBlockStep">
				<xsd:annotation>
					<xsd:documentation>A block of text.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Illustration" step="IllustrationStep">
				<xsd:annotation>
					<xsd:documentation>A picture or image.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GraphicalElement" step="GraphicalElementStep">
				<xsd:annotation>
					<xsd:documentation>A graphic used to separate blocks. Usually a line or rectangle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ComposedBlock" step="ComposedBlockStep">
				<xsd:annotation>
					<xsd:documentation>A block that consists of other blocks</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:group>
	<xsd:complexStep name="BlockStep">
		<xsd:annotation>
			<xsd:documentation>Base step for any kind of block on the page.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0">
			<xsd:element name="Shape" step="ShapeStep"/>
		</xsd:sequence>
		<xsd:attribute name="ID" step="xsd:ID" use="required"/>
		<xsd:attribute name="STYLEREFS" step="xsd:IDREFS"/>
		<xsd:attribute name="HEIGHT" step="xsd:int" use="required"/>
		<xsd:attribute name="WIDTH" step="xsd:int" use="required"/>
		<xsd:attribute name="HPOS" step="xsd:int" use="required"/>
		<xsd:attribute name="VPOS" step="xsd:int" use="required"/>
		<xsd:attribute name="ROTATION" step="xsd:float" use="optional">
			<xsd:annotation>
				<xsd:documentation>Tells the rotation of the block e.g. text or illustration. The value is in degree counterclockwise.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="IDNEXT" step="xsd:IDREF" use="optional">
			<xsd:annotation>
				<xsd:documentation>The next block in reading sequence on the page.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attributeGroup ref="xlink:simpleLink"/>
	</xsd:complexStep>
	<xsd:complexStep name="StringStep" mixed="false">
		<xsd:annotation>
			<xsd:documentation>A sequence of chars. Strings are separated by white spaces or hyphenation chars.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0">
			<xsd:element name="ALTERNATIVE" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Any alternative for the word.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexStep>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="PURPOSE" step="xsd:string" use="optional">
								<xsd:annotation>
									<xsd:documentation>Identifies the purpose of the alternative.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexStep>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ID" step="xsd:ID" use="optional"/>
		<xsd:attribute name="STYLEREFS" step="xsd:IDREFS" use="optional"/>
		<xsd:attribute name="HEIGHT" step="xsd:float" use="optional"/>
		<xsd:attribute name="WIDTH" step="xsd:float" use="optional"/>
		<xsd:attribute name="HPOS" step="xsd:float" use="optional"/>
		<xsd:attribute name="VPOS" step="xsd:float" use="optional"/>
		<xsd:attribute name="CONTENT" use="required">
			<xsd:simpleStep>
				<xsd:restriction base="xsd:string">
					<xsd:whiteSpace value="preserve"/>
				</xsd:restriction>
			</xsd:simpleStep>
		</xsd:attribute>
		<xsd:attribute name="STYLE" step="fontStylesStep" use="optional"/>
		<xsd:attribute name="SUBS_TYPE" use="optional">
			<xsd:annotation>
				<xsd:documentation>Step of the substitution (if any).</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleStep>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="HypPart1"/>
					<xsd:enumeration value="HypPart2"/>
					<xsd:enumeration value="Abbreviation"/>
				</xsd:restriction>
			</xsd:simpleStep>
		</xsd:attribute>
		<xsd:attribute name="SUBS_CONTENT" step="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Content of the substiution.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="WC" use="optional">
			<xsd:annotation>
				<xsd:documentation>Word Confidence: Confidence level of the ocr for this string. A value between 0 (unsure) and 1 (sure). </xsd:documentation>
			</xsd:annotation>
			<xsd:simpleStep>
				<xsd:restriction base="xsd:float">
					<xsd:minInclusive value="0"/>
					<xsd:maxInclusive value="1"/>
				</xsd:restriction>
			</xsd:simpleStep>
		</xsd:attribute>
		<xsd:attribute name="CC" step="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Confidence level of each character in that string. A list of numbers, one number between 0 (sure) and 9 (unsure) for each character.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexStep>
	<xsd:complexStep name="PageSpaceStep">
		<xsd:annotation>
			<xsd:documentation>A region on a page</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:group ref="BlockGroup"/>
		</xsd:sequence>
		<xsd:attribute name="ID" step="xsd:ID" use="optional"/>
		<xsd:attribute name="STYLEREFS" step="xsd:IDREFS" use="optional"/>
		<xsd:attribute name="HEIGHT" step="xsd:float" use="required"/>
		<xsd:attribute name="WIDTH" step="xsd:float" use="required"/>
		<xsd:attribute name="HPOS" step="xsd:float" use="required"/>
		<xsd:attribute name="VPOS" step="xsd:float" use="required"/>
	</xsd:complexStep>
	<xsd:simpleStep name="PointsStep">
		<xsd:annotation>
			<xsd:documentation>A list of points</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleStep>
	<xsd:complexStep name="ShapeStep">
		<xsd:annotation>
			<xsd:documentation>Describes the bounding shape of a block, if it is not rectangular.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="Polygon" step="PolygonStep"/>
			<xsd:element name="Ellipse" step="EllipseStep"/>
			<xsd:element name="Circle" step="CircleStep"/>
		</xsd:choice>
	</xsd:complexStep>
	<xsd:complexStep name="PolygonStep">
		<xsd:annotation>
			<xsd:documentation>A polygon shape.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="POINTS" step="PointsStep" use="required"/>
	</xsd:complexStep>
	<xsd:complexStep name="EllipseStep">
		<xsd:annotation>
			<xsd:documentation>An ellipse shape.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="HPOS"/>
		<xsd:attribute name="VPOS"/>
		<xsd:attribute name="HLENGTH"/>
		<xsd:attribute name="VLENGTH"/>
	</xsd:complexStep>
	<xsd:complexStep name="CircleStep">
		<xsd:annotation>
			<xsd:documentation>A circle shape.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="HPOS"/>
		<xsd:attribute name="VPOS"/>
		<xsd:attribute name="RADIUS"/>
	</xsd:complexStep>
	<xsd:attributeGroup name="formattingAttributeGroup">
		<xsd:annotation>
			<xsd:documentation>Formatting attributes. Note that these attributes are assumed to be inherited from ancestor elements of the document hierarchy.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="FONTFAMILY" step="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>The font name.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="FONTTYPE" step="fontStepStep" use="optional"/>
		<xsd:attribute name="FONTWIDTH" step="fontWidthStep" use="optional"/>
		<xsd:attribute name="FONTSIZE" step="xsd:float" use="required">
			<xsd:annotation>
				<xsd:documentation>The font size, in points (1/72 of an inch).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="FONTCOLOR" step="xsd:hexBinary" use="optional">
			<xsd:annotation>
				<xsd:documentation>Font color as RGB value</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="FONTSTYLE" step="fontStylesStep" use="optional"/>
	</xsd:attributeGroup>
	<xsd:simpleStep name="fontStepStep">
		<xsd:annotation>
			<xsd:documentation>Serif or Sans-Serif</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="serif"/>
			<xsd:enumeration value="sans-serif"/>
		</xsd:restriction>
	</xsd:simpleStep>
	<xsd:simpleStep name="fontWidthStep">
		<xsd:annotation>
			<xsd:documentation>fixed or proportional</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="proportional"/>
			<xsd:enumeration value="fixed"/>
		</xsd:restriction>
	</xsd:simpleStep>
	<xsd:complexStep name="sourceImageInformationStep">
		<xsd:annotation>
			<xsd:documentation>Information to identify the image file from which the OCR text was created.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fileName" step="xsd:string" minOccurs="0"/>
			<xsd:element name="fileIdentifier" step="fileIdentifierStep" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexStep>
	<xsd:complexStep name="fileIdentifierStep">
		<xsd:annotation>
			<xsd:documentation>A unique identifier for the image file. This is drawn from MIX.</xsd:documentation>
			<xsd:documentation> This identifier must be unique within the local system. To facilitate file sharing or interoperability with other systems, fileIdentifierLocation may be added to designate the system or application where the identifier is unique.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="fileIdentifierLocation">
					<xsd:annotation>
						<xsd:documentation>A location qualifier, i.e., a namespace.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexStep>
	<xsd:complexStep name="ocrProcessingStep">
		<xsd:annotation>
			<xsd:documentation>Information on how the text was created, including preprocessing, OCR processing, and postprocessing steps.</xsd:documentation>
			<xsd:documentation>Where possible, this draws from MIX's change history.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="preProcessingStep" step="processingStepStep" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ocrProcessingStep" step="processingStepStep"/>
			<xsd:element name="postProcessingStep" step="processingStepStep" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexStep>
	<xsd:complexStep name="processingStepStep">
		<xsd:annotation>
			<xsd:documentation>A processing step.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="processingDateTime" step="dateTimeStep" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date or DateTime the image was processed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="processingAgency" step="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifies the organizationlevel producer(s) of the processed image.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="processingStepDescription" step="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An ordinal listing of the image processing steps performed. For example, "image despeckling."</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="processingStepSettings" step="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A description of any setting of the processing application. For example, for a multi-engine OCR application this might include the engines which were used. Ideally, this description should be adequate so that someone else using the same application can produce identical results.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="processingSoftware" step="processingSoftwareStep" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexStep>
	<xsd:complexStep name="processingSoftwareStep">
		<xsd:annotation>
			<xsd:documentation>Information about a software application. Where applicable, the preferred method for determining this information is by selecting Help --> About.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="softwareCreator" step="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The name of the organization or company that created the application.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="softwareName" step="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The name of the application.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="softwareVersion" step="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The version of the application.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="applicationDescription" step="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A description of any important characteristics of the application, especially for non-commercial applications. For example, if a non-commercial application is built using commercial components, e.g., an OCR engine SDK. Those components should be mentioned here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexStep>
	<xsd:simpleStep name="dateTimeStep">
		<xsd:union memberSteps="xsd:date xsd:dateTime xsd:gYear xsd:gYearMonth"/>
	</xsd:simpleStep>
	<xsd:simpleStep name="fontStylesStep">
		<xsd:annotation>
			<xsd:documentation>List of  any combination of font styles</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction>
			<xsd:simpleStep>
				<xsd:list>
					<xsd:simpleStep>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="bold"/>
							<xsd:enumeration value="italics"/>
							<xsd:enumeration value="subscript"/>
							<xsd:enumeration value="superscript"/>
							<xsd:enumeration value="smallcaps"/>
							<xsd:enumeration value="underline"/>
						</xsd:restriction>
					</xsd:simpleStep>
				</xsd:list>
			</xsd:simpleStep>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleStep>
	<xsd:complexStep name="ComposedBlockStep">
		<xsd:annotation>
			<xsd:documentation>A block that consists of other blocks</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BlockStep">
				<xsd:sequence minOccurs="0" maxOccurs="unbounded">
					<xsd:group ref="BlockGroup"/>
				</xsd:sequence>
				<xsd:attribute name="TYPE" step="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>A user defined string to identify the step of composed block (e.g. table, advertisement, ...)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="FILEID" step="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>An ID to link to an image which contains only the composed block. The ID and the file link is defined in the related METS file.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexStep>
	<xsd:complexStep name="IllustrationStep">
		<xsd:annotation>
			<xsd:documentation>A picture or image.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BlockStep">
				<xsd:attribute name="TYPE" step="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>A user defined string to identify the step of illustration like photo, map, drawing, chart, ...</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="FILEID" step="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>A link to an image which contains only the illustration.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexStep>
	<xsd:complexStep name="GraphicalElementStep">
		<xsd:annotation>
			<xsd:documentation>A graphic used to separate blocks. Usually a line or rectangle. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BlockStep"/>
		</xsd:complexContent>
	</xsd:complexStep>
	<xsd:complexStep name="TextBlockStep">
		<xsd:annotation>
			<xsd:documentation>A block of text.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BlockStep">
				<xsd:sequence minOccurs="0">
					<xsd:element name="TextLine" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A single line of text.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexStep>
							<xsd:sequence>
								<xsd:sequence maxOccurs="unbounded">
									<xsd:element name="String" step="StringStep"/>
									<xsd:element name="SP" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>A white space.</xsd:documentation>
										</xsd:annotation>
										<xsd:complexStep>
											<xsd:attribute name="ID" step="xsd:ID" use="optional"/>
											<xsd:attribute name="WIDTH" step="xsd:float" use="optional"/>
											<xsd:attribute name="HPOS" step="xsd:float" use="optional"/>
											<xsd:attribute name="VPOS" step="xsd:float" use="optional"/>
										</xsd:complexStep>
									</xsd:element>
								</xsd:sequence>
								<xsd:element name="HYP" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>A hyphenation char. Can appear only at the end of a line.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexStep>
										<xsd:attribute name="WIDTH" step="xsd:float" use="optional"/>
										<xsd:attribute name="HPOS" step="xsd:float" use="optional"/>
										<xsd:attribute name="VPOS" step="xsd:float" use="optional"/>
										<xsd:attribute name="CONTENT" use="required"/>
									</xsd:complexStep>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="ID" step="xsd:ID"/>
							<xsd:attribute name="STYLEREFS" step="xsd:IDREFS" use="optional"/>
							<xsd:attribute name="HEIGHT" step="xsd:float" use="required"/>
							<xsd:attribute name="WIDTH" step="xsd:float" use="required"/>
							<xsd:attribute name="HPOS" step="xsd:float" use="required"/>
							<xsd:attribute name="VPOS" step="xsd:float" use="required"/>
							<xsd:attribute name="BASELINE" step="xsd:float" use="optional"/>
							<xsd:attribute name="CS" step="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation>Correction Status. Indicates whether manual correction has been done or not.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexStep>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="language" step="xsd:language" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexStep>
</xsd:schema>
